*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #223222;
}
a {
text-decoration: none;
color: #223222;
}
main {
  width: 100%;
  align-items: center;
  width: 1200px;
  margin:0 auto;
}
header {
  background-color: lightgray;
  width: 1200px;
  height: 100px;
  display: flex;
}
.logo {
  width: 25%;
}
.logo > img {
  width: 200px;
  height: 40px;
  padding: 30px 0; /*중앙으로 오게 하기*/
}
.mainmenu {
  display: flex;
  position: relative;
  align-items:center;
  justify-content: space-between;
}
.mainmenu > a  {
  display: flex;
  background-color: lightgreen;
  width: 800px;
  height: 100px;
  justify-content: space-between;
}
.mainmenu  {
  width: 25%;
  padding:20px 0;
}
.submenu {
  display: flex;
  position: absolute;
  background-color: lightskyblue;
  top: 100px;
  width: 800px;
  justify-content: space-between;
  text-align: center;
}
.submenu > ul > li {
  padding: 20px 0;
  text-align: center;
}